<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kid.easteregg">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".layout.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".layout.GBPlatLogoActivity"
            android:theme="@style/android:Theme.Wallpaper.NoTitleBar.Fullscreen"/>
        <activity android:name=".layout.HCPlatLogoActivity"
            android:theme="@style/android:Theme.Wallpaper.NoTitleBar.Fullscreen"/>
        <activity android:name=".layout.ICSPlatLogoActivity"
            android:theme="@style/android:Theme.Wallpaper.NoTitleBar.Fullscreen"/>
        <activity android:name=".layout.ICSNyandroid" />
        <activity android:name=".layout.JBPlatLogoActivity"
            android:theme="@style/android:Theme.Wallpaper.NoTitleBar.Fullscreen"/>
        <activity android:name=".layout.JBBeanBag"
            android:theme="@style/android:Theme.Wallpaper.NoTitleBar.Fullscreen"/>
        <activity android:name=".layout.KKPlatLogoActivity"
            android:theme="@style/android:Theme.Wallpaper.NoTitleBar.Fullscreen"/>
        <activity android:name=".layout.KKDessertCase" />
        <activity android:name=".layout.LLPlatLogoActivity"
            android:theme="@style/android:Theme.Wallpaper.NoTitleBar.Fullscreen"/>
        <activity android:name=".layout.LLandActivity" />
        <activity android:name=".layout.MMPlatLogoActivity"
            android:theme="@style/android:Theme.Wallpaper.NoTitleBar.Fullscreen"/>
        <activity android:name=".layout.MLandActivity" />

        <activity android:name=".neko.NekoActivationActivity" />
    </application>

</manifest>